---
import { getPage, getPageCollection } from "@lib/contentParser.astro";

import Layout from '@layouts/Layout.astro';

import PageHeader from "@components/PageHeader.astro";
import Pagination from "@components/Pagination.astro";
import PortfolioCard from "@components/PortfolioCard.astro";

import { settings } from "@config/site.config.json";
const portfolioPage = await getPage('pages', 'portfolio');
if (!portfolioPage) return new Response(null, { status: 404, headers: { 'content-type': 'text/html' } });
const { title, subtitle } : any = portfolioPage?.data;

const portfolioItems = await getPageCollection("portfolio");
const totalPages = Math.ceil(portfolioItems.length / settings.pagination_limit);
const currentPortfolioItems = portfolioItems.slice(0, settings.pagination_limit);

---

<Layout title={title} description={title}>
  <PageHeader title={title} subtitle={subtitle} />

  <section class="py-20 md:py-28 bg-white text-dark rounded-b-2xl">
    <div class="container">
      <div class="row md:gx-4 gy-4">
        {currentPortfolioItems.map((portfolioItem, index) => (
          <div
            class="sm:col-6 init-delay"
            data-aos="fade-up-sm"
            data-aos-duration="500"
            style={{
              "--lg-delay": `${(index % 2) * 75}ms`,
              "--md-delay": `${(index % 2) * 75}ms`,
              "--sm-delay": `${(index % 2) * 75}ms`
            }}
          >
            <PortfolioCard slug={portfolioItem.slug} data={portfolioItem.data} twoColumns={true} />
          </div>
        ))}

        <div class="col-12 mt-12">
          <Pagination section="portfolio" currentPage={1} totalPages={totalPages} />
        </div>
      </div>
    </div>
  </section>
</Layout>
